# ========================
# Python & Virtual Env
# ========================
__pycache__/
*.py[cod]
*$py.class

# The virtual environment seen in your logs
venv/
env/
.venv/
.env
migrations
# ========================
# Django
# ========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# ========================
# Media & Datasets
# ========================
# Ignore user uploads and generated masks (too large for Git)
media/

# ========================
# IDE & OS
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini