{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Project Management{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %} 


<div class="grid-margin-sm-0">
    <div class="row">

        <!-- CREATE PROJECT (TOP) -->
        <div class="col-12 mb-4">
            <div class="card">

                <div class="card-header">
                    <h6 class="card-title mb-0">Upload Management</h6>
                </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'create_upload_management' %}">
                        {% csrf_token %}

                        <div class="row g-3">

                            <div class="col-md-10">
                                <input type="file" name="file_name" class="form-control" accept=".csv,.xlsx,.xls" required>
                            </div>


                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary w-100">
                                    Upload
                                </button>
                            </div>
                            
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- PROJECT LIST (BOTTOM) -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="userTable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>File Name</th>
                                    <th>Batch ID</th>
                                    <th>Status</th>
                                    <th>Uploaded At</th>
                                    <th>Uploaded By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


{% endblock content %}

{% block javascripts %}

<script>
    $(document).on('submit', 'form', function (event) {
        event.preventDefault();

        let form = $(this);
        let url = form.attr('action');
        let formData = new FormData(form[0]);

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            headers: {
                "X-CSRFToken": form.find("input[name=csrfmiddlewaretoken]").val()
            },
        })
            .done(function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Success!',
                        text: response.message || "Project created successfully.",
                        icon: 'success',
                        confirmButtonText: 'Okay'
                    }).then(() => location.reload());
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: response.message || 'Failed, try again.',
                        icon: 'error',
                        confirmButtonText: 'Okay'
                    });
                }
            })
            .fail(function (jqXHR) {
                Swal.fire({
                    title: 'Error!',
                    text: jqXHR.status + ' - ' + jqXHR.statusText,
                    icon: 'error',
                    confirmButtonText: 'Okay'
                });
            });
    });



    $(document).ready(function () {
        const table = $('#userTable').DataTable({
            ajax: "{% url 'upload_management_list_api' %}",
            pageLength: 10,
            order: [[4, 'desc']],
            destroy: true,
            autoWidth: false,

            columns: [
                { data: "sl_no" },
                { data: "file_name" },
                { data: "batch_id" },
                {
                    data: "status",
                    render: function (data) {
                        let badgeClass =
                            data === "ACTIVE" ? "success" :
                                data === "ON_HOLD" ? "warning" :
                                    "secondary";

                        return `<span class="badge bg-${badgeClass}">${data}</span>`;
                    }
                },
                { data: "created_at" },
                { data: "created_by" },
                {
                    data: "id",
                    render: function (id, type, row) {
                        return `
                        <button class="btn btn-inverse-info btn-sm btn-icon edit-btn d-inline-flex align-items-center justify-content-center mx-1"
                                data-id="${id}"
                                data-name="${row.name}"
                                data-status="${row.status}">
                                <i class="ti-pencil"></i>
                        </button>

                        <button class="btn btn-inverse-danger btn-sm btn-icon delete-btn delete-confirm d-inline-flex align-items-center justify-content-center mx-1"
                                data-id="${id}">
                            <i class="ti-trash"></i>
                        </button>
                    `;
                    }
                }
            ],

            columnDefs: [
                { targets: [0, 5], orderable: false }
            ]
        });

        $(document).on("click", ".delete-btn", function () {
            const projectId = $(this).data("id");

            Swal.fire({
                title: "Are you sure?",
                text: "This project will be permanently deleted!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post(
                        `/uploads/delete/${projectId}/`,
                        { csrfmiddlewaretoken: "{{ csrf_token }}" },
                        function (res) {
                            Swal.fire("Deleted!", res.message, "success");
                            table.ajax.reload(null, false);
                        }
                    );
                }
            });
        });

        $(document).on("click", ".edit-btn", function () {
            const projectId = $(this).data("id");
            const name = $(this).data("name");
            const status = $(this).data("status");

            Swal.fire({
                title: "Edit Project",
                html: `
                <input id="edit-name"
                    class="swal2-input"
                    value="${name}"
                    disabled>
                <select id="edit-status" class="swal2-input">
                    <option value="ACTIVE">Active</option>
                    <option value="ON_HOLD">On Hold</option>
                    <option value="COMPLETED">Completed</option>
                </select>
            `,
                didOpen: () => {
                    $('#edit-status').val(status);
                },
                showCancelButton: true,
                confirmButtonText: "Update"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post(
                        `/uploads/edit/${projectId}/`,
                        {
                            name: $("#edit-name").val(),
                            status: $("#edit-status").val(),
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        function (res) {
                            Swal.fire("Updated!", res.message, "success");
                            table.ajax.reload();
                        }
                    );
                }
            });
        });

    });
</script>

{% endblock javascripts %}