.scrollbar-winter-neva::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-winter-neva::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-winter-neva::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #2251ee 0%, #c2e9fb 100%);
    background-image: linear-gradient(120deg, #6f77ec 0%, #c2e9fb 100%);
}

.thin::-webkit-scrollbar {
    width: 4px;
}

.labelhead {
    /* font-size: 72px; */
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /* font-size: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, red, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
