{% load static %}
{% load menu_tags %}
{% load string_extras %}

{% get_allowed_menus request.user as allowed_menus %}

{% with current=request.resolver_match.url_name %}

<nav class="sidebar sidebar-offcanvas shadow navbar-nav-scroll scrollbar-winter-neva thin" id="sidebar">
    <ul class="nav">

        <!-- ================= DASHBOARD ================= -->
        {% if request.user.is_superuser or 'Dashboard' in allowed_menus %}
        <li class="nav-item {% if current == 'dashboard' %}active{% endif %}">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="bi bi-grid-fill menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        {% endif %}

        <!-- ================= ROLE MANAGEMENT ================= -->
        {% if request.user.is_superuser or 'Role Management' in allowed_menus %}
        <li class="nav-item {% if current == 'role_management' %}active{% endif %}">
            <a class="nav-link" href="{% url 'role_management' %}">
                <i class="bi bi-stack menu-icon"></i>
                <span class="menu-title">Role Management</span>
            </a>
        </li>
        {% endif %}

        <!-- ================= USER MANAGEMENT ================= -->
        {% if request.user.is_superuser or 'User Management' in allowed_menus %}
        <li class="nav-item {% if current == 'user_management' %}active{% endif %}">
            <a class="nav-link" href="{% url 'user_management' %}">
                <i class="bi bi-person-workspace menu-icon"></i>
                <span class="menu-title">User Management</span>
            </a>
        </li>
        {% endif %}

        <!-- ================= MENU PERMISSION ================= -->
        {% if request.user.is_superuser or 'Menu Permission' in allowed_menus %}
        <li class="nav-item {% if current == 'menu_management' %}active{% endif %}">
            <a class="nav-link" href="{% url 'menu_management' %}">
                <i class="bi bi-shield-lock-fill menu-icon"></i>
                <span class="menu-title">Menu Permission</span>
            </a>
        </li>
        {% endif %}


        <!-- ================= Custom Field Mapping  ================= -->
        {% if request.user.is_superuser or 'Custom Field Mapping' in allowed_menus %}
        <li class="nav-item {% if current == 'custom_field_mapping' %}active{% endif %}">
            <a class="nav-link" href="{% url 'custom_field_mapping' %}">
                <i class="bi bi-intersect menu-icon"></i>
                <span class="menu-title">Custom Field Mapping</span>
            </a>
        </li>
        {% endif %}

        <!-- ================= Upload Management ================= -->
        {% if request.user.is_superuser or 'Upload Management' in allowed_menus %}
        <li class="nav-item {% if current == 'upload_management' %}active{% endif %}">
            <a class="nav-link" href="{% url 'upload_management' %}">
                <i class="bi bi-folder-fill menu-icon"></i>
                <span class="menu-title">Upload Management</span>
            </a>
        </li>
        {% endif %}


        <!-- ================= INVOICE EXTRACTION ================= -->
        {% if request.user.is_superuser or 'Invoice Extraction' in allowed_menus %}
        <li class="nav-item {% if current == 'invoice_extraction' %}active{% endif %}">
            <a class="nav-link" href="{% url 'invoice_extraction' %}">
                <i class="bi bi-cloud-arrow-up-fill menu-icon"></i>
                <span class="menu-title">Invoice Extraction</span>
            </a>
        </li>
        {% endif %}

        <!-- ================= REPORTS ================= -->
        {% if request.user.is_superuser or 'Reports' in allowed_menus %}
        <li class="nav-item {% if current|startswith:'report_' %}active{% endif %}">

            <a class="nav-link" href="#reportsMenu" data-toggle="collapse"
                aria-expanded="{% if current|startswith:'report_' %}true{% else %}false{% endif %}">
                <i class="bi bi-bar-chart-fill menu-icon"></i>
                <span class="menu-title">Reports</span>
                <i class="menu-arrow"></i>
            </a>

            <div class="collapse {% if current|startswith:'report_' %}show{% endif %}" id="reportsMenu">
                <ul class="nav flex-column sub-menu" style="list-style: none !important; padding-left: 0 !important;">

                    <li class="nav-item" style="list-style: none !important;">
                        <a class="nav-link {% if current == 'report_success' %}active{% endif %}"
                            href="{% url 'report_success' %}"
                            style="text-align: center; {% if current == 'report_success' %}background-color: rgba(167, 139, 250, 0.3); border-radius: 6px; font-weight: 500;{% endif %}">
                            <i class="bi bi-check-circle-fill menu-icon"></i> Success Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if current == 'report_failed' %}active{% endif %}"
                            href="{% url 'report_failed' %}"
                            style="text-align: center; {% if current == 'report_failed' %}background-color: rgba(167, 139, 250, 0.3); border-radius: 6px; font-weight: 500;{% endif %}">
                            <i class="bi bi-x-circle-fill menu-icon"></i> Failed Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if current == 'report_duplicate' %}active{% endif %}"
                            href="{% url 'report_duplicate' %}"
                            style="text-align: center; {% if current == 'report_duplicate' %}background-color: rgba(167, 139, 250, 0.3); border-radius: 6px; font-weight: 500;{% endif %}">
                            <i class="bi bi-file-earmark-fill menu-icon"></i> Duplicate Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if current == 'report_invalid' %}active{% endif %}"
                            href="{% url 'report_invalid' %}"
                            style="text-align: center; {% if current == 'report_invalid' %}background-color: rgba(167, 139, 250, 0.3); border-radius: 6px; font-weight: 500;{% endif %}">
                            <i class="bi bi-exclamation-triangle-fill menu-icon"></i> Invalid Report
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>

{% endwith %}